Source: netcfg
Section: debian-installer
Priority: standard
Maintainer: David Whedon <dwhedon@gordian.com>
Build-Depends: debhelper (>= 2.1.18), dpkg-dev (>= 1.7.0)
Standards-Version: 3.1.1

Package: netcfg
Architecture: any
Depends: ${shlibs:Depends}
Provides: network-configuration
XBC-Installer-Menu-Item: 2
Description: Configure the network
 This package configures the network.
