Source: netcfg
Section: debian-installer
Priority: optional
Maintainer: Debian Install System Team <debian-boot@lists.debian.org>
Uploaders: David Kimdon <dwhedon@debian.org>, Tollef Fog Heen <tfheen@debian.org>, Matt Kraai <kraai@debian.org>, Joey Hess <joeyh@debian.org>
Build-Depends: debhelper (>= 4.1.13), dpkg-dev (>= 1.9.0), libdebconfclient0-dev (>= 0.46), libdebian-installer4-dev, po-debconf (>= 0.5.0)
Standards-Version: 3.6.1.0

Package: netcfg-dhcp
Architecture: i386 sparc alpha m68k arm powerpc mips mipsel hppa ia64
Depends: ${shlibs:Depends}, cdebconf-udeb, dhcp-client-udeb | pump-udeb | busybox-cvs-udeb | busybox-cvs-net-udeb, ethernet-card-detection
Provides: configured-network
XB-Installer-Menu-Item: 18
Description: Configure the network via DHCP
 Many networks allow automatic configuration via DHCP (Dynamic Host
 Configuration Protocol).  If you are on a corporate network, a cable modem,
 some DSL connections, or have any other sort of dynamic IP for Ethernet, you
 will likely be able to configure via DHCP. If you have information such as IP
 address, netmask, gateway, then DHCP is not appropriate. This package uses
 the Internet Software Consortium's dhclient or Red Hat Linux's pump, whichever
 is available.

Package: netcfg-static
Architecture: any
Depends: ${shlibs:Depends}, cdebconf-udeb, ethernet-card-detection
Provides: configured-network
XB-Installer-Menu-Item: 20
Description: Configure a static network
 If you have information such as IP address, netmask, gateway, then you will be
 able to configure a static network.  If you don't know this information, you
 should ask you system administrator, or look at configuration via DHCP.
